<div class="container">
    <form>
        <div class="formulario">
            <div class="input-group">
                <label for="nome-empresa">Nome da empresa</label><br>
                <input id="nome-empresa" class="input" type="text" placeholder="Nome da empresa" required>
            </div>
            <div class="input-group">
                <label for="email">Email</label><br>
                <input id="email" class="input" type="email" placeholder="Email" required>
            </div>
            <div class="input-group">
                <label for="nome-evento">Nome do Evento</label><br>
                <input id="nome-evento" class="input" type="text" placeholder="Nome do evento" required>
            </div>

        </div>

        <div class="formulario-e">
            <div class="input-group">
                <label for="local">Local</label><br>
                <input id="local" class="input" type="text" placeholder="Local" required>
            </div>
            <div class="input-group">
                <label for="categoria">Categoria</label><br>
                <input id="categoria" class="input" type="text" placeholder="Categoria" required>
            </div>
            <div class="input-group">
                <label for="telefone">Telefone</label><br>
                <input id="telefone" class="input" type="tel" placeholder="Telefone" required>
            </div>
        </div>

       
        <div class="submit-container-left">

            <label for="" class="label-descricao">Descrição do evento</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>

            
        </div>
        <div class="submit-container-">

            <label for="" class="label-descricao">Politica de privacidade</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>

            
        </div>

        <div class="imagem">
            <label for=""></label>
            <input type="file" >
        </div>  

        <div class="submit-container">
            <input type="submit" class="submit"> 
        </div>
    </form>
</div>
